body {
  background-color: #fcf5f0;
  font-size: 80%;
  font-family: 'Roboto Mono', monospace;
  @import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&family=Roboto+Mono&display=swap');
}

div#style {
  border: dashed 10px #955b3d;
  border-radius: 20px;
  margin: 30px;
  padding: 15px;
  background-color: #dcaf88;
}

#centered {
  text-align: center;
  color: white;
}

p {
  font-size: 140%;
  margin: 40px;
  font-weight: bold;
  line-height: 115%;
  word-spacing: 5px;
  letter-spacing: 2px;
  color: #955b3d;
}

#border {
  background-color: #f5d8bb;
  height: auto;
  margin: 30px;
  border-radius: 10px;
  border: dashed 5px #f47d8c;
}

div#box {
  background-color: #955b3d;
  border: dashed 10px #f5d8bb;
  margin: 30px;
  padding: 5px 25px 10px 30px;
}

h1,h2,h3,h4,h5 {
  text-transform: uppercase;
  font-size: 36px;
  font style: bolder;
  color: #f47d8c;
  font-style: oblique;
  margin-left: 30px;
  margin-right: 10px;
  font-family: 'Quattrocento', serif, monospace, sans-serif;
}

div>h1 {
  border: double 15px #f5d8bb;
  background-color: #f47d8c;
  padding: 7px;
  color: #fcf5f0;
  font-size: 50px;
  text-align: center;
  border-radius: 20px;
  margin: 30px 10px 30px 10px;
}

a.buttonlink {
  color: #955b3d;
  font-size: 15px;
  font-weight: bolder;
  background-color: #f5d8bb;
  border-radius: 7px;
  padding: 8px;
  border: outset 5px  #f47d8c;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
}

div.column {
  flex: 50%;
  padding: 5px;
}

#design {
  text-align: center;
  font-size: 30px;
  font-style: bold;
  border-radius: 10px;
  padding: 8px;
  font-family: 'Roboto Mono', monospace;
  color: #fcf5f0;
}
