body {
  background-color: #615c6b;
  font-size: 80%;
  font-family: 'Roboto Mono', monospace;
  @import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&family=Roboto+Mono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
}

div#style {
  border: dashed 10px #a585ee;
  border-radius: 20px;
  margin: 30px;
  padding: 15px;
  background-color: #d4caeb;
}

p {
  font-size: 140%;
  margin: 40px;
  font-weight: bold;
  line-height: 115%;
  word-spacing: 5px;
  letter-spacing: 2px;
  color: white;
}

#border {
  background-color: #a69eb8;
  height: auto;
  margin: 30px;
  border-radius: 10px;
  border: dashed 5px #312847;
}

div#box {
  background-color: #a69eb8;
  border: dashed 10px #312847;
  margin: 30px;
  padding: 5px 25px 10px 30px;
}

h1,h2,h3,h4,h5 {
  text-transform: uppercase;
  font-size: 36px;
  font style: bolder;
  color: #4a3c6b;
  font-style: oblique;
  margin-left: 30px;
  margin-right: 10px;
  font-family: 'Quattrocento', serif, monospace, sans-serif;
}

div#output {
  font-family: 'Akaya Kanadaka', cursive;
  margin: 30px;
  columns: 3;
}

div>h1 {
  border: double 15px #3b3170;
  background-color: #7b759e;
  padding: 7px;
  color: white;
  font-size: 50px;
  text-align: center;
  border-radius: 20px;
  margin: 30px 10px 30px 10px;
}

#outline {
  border: dotted 5px #3b3170;
  margin: 30px;
  padding: 15px;
}

.color-change {
  color: black;
  font-style: normal;
}

a.buttonlink {
  color: #201b3d;
  font-size: 15px;
  font-weight: bolder;
  background-color: #a79fd6;
  border-radius: 7px;
  padding: 8px;
  border: outset 5px #3b3170;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
}

div.column {
  flex: 50%;
  padding: 5px;
}

#design {
  text-align: center;
  font-size: 30px;
  font-style: bold;
  border-radius: 10px;
  padding: 8px;
  font-family: 'Roboto Mono', monospace;
  color: white;
}
