#padding {
  padding: 5px 20px;
}

.card {
  border-top: red solid 8px;
  border-bottom: red solid 8px;
}

.cols {
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding: 10px;
}

@media screen and (min-width: 630px) {
  .cols {
    width: 50%;
    display: block;
  }
}

@media screen and (min-width: 1030px) {
  .cols {
    width: 25%;
    display: block;
  }
}

.card-content {
  padding: 15px;
  color: black;
}

a.action {
  background: #d71515;
  border: 2px solid #ffffff;
  border-radius: 1000px;
  padding: 15px 35px;
  margin: 2vw 2vh;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 320px) {
  .action {
    font-size: 15px;
  }
}

@media screen and (min-width: 2000px) {
  .action {
    font-size: 30px;
  }
}

#action-button {
  text-align: center;
}

p.card-info {
  font-family: 'Lato', sans-serif;
  line-height: 150%;
  font-size: 18px;
}

@media screen and (max-width: 801px) {
  p.card-info {
    font-size: 16px;
  }
}

@media screen and (min-width: 2000px) {
  p.card-info {
    font-size: 24px;
  }
}

h4.activity {
  line-height: 150%;
  font-size: 28px;
}

@media screen and (max-width: 801px) {
  h4.activity {
    font-size: 20px;
  }
}

@media screen and (min-width: 2000px) {
  h4.activity {
    font-size: 30px;
  }
}
