.bar {
  overflow: hidden;
  background-color: #333;
  margin: 0;
  padding: 0;
}

.bar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.dropbox {
  float: left;
  overflow: hidden;
}

.dropbtn {
  font-size: 16px;
}

.dropbox .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.bar a:hover, .dropbox:hover .dropbtn {
  background-color: red;
  border-bottom: 5px solid black;
}

.dropbox-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropbox-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropbox-content a:hover {
  background-color: #ddd;
}

.dropbox:hover .dropbox-content {
  display: block;
}

@media screen and (min-width: 700px) {
  .bar a, .dropbtn {
    font-size: 15px;
  }
}

@media screen and (min-width: 1023px) {
  .bar a, .dropbtn {
    font-size: 25px;
  }
}

/* footer decorations */
footer {
  padding: 5vh 9vw;
}

#left {
  text-align: left;
  font-size: 25px;
}

#footer {
  background-color: #33383b;
}


.footer-link {
  color: white;
  text-align: center;
}

.list-unstyled,.text-uppercase {
  text-align: center;
}

.footer-link:hover {
  color: red;
}

p#left {
  font-family: 'Lato', sans-serif;
  line-height: 150%;
  font-size: 20px;
}

@media screen and (min-width: 601px) {
  p#left {
    font-size: 22px;
  }
}

@media screen and (min-width: 2000px) {
  p#left {
    font-size: 28px;
  }
}
