html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* paragraph info */
@media screen and (min-width: 601px) {
  .info {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .info {
    font-size: 18px;
  }
}

/* names */
@media screen and (min-width: 601px) {
  h2.name {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  h2.name {
    font-size: 30px;
  }
}

h2.name {
  text-align: center;
  padding: 5px;
  text-decoration: underline red 2px;
}

.column {
  float: left;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 7px;
}

@media screen and (min-width: 700px) {
  .column {
    width:50%;
    display: block;
  }
}

@media screen and (min-width: 1030px) {
  .column {
    width: 25%;
    display: block;
  }
}

#smaller {
  font-size: 0.92rem;
}

.card {
  border-top: solid red 9px;
  border-bottom: solid red 9px;
}

.container {
  padding: 0 15px;
  color: black;
  font-style: normal;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
