/* image, text, and time */
.top-large-img {
  height: 50%;
  position: relative;
}

.background-img {
  width: 100%;
  height: auto;
  z-index: -100;
}

.text {
  background-color: white;
  color: black;
  font-size: 7vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

#time {
  color: white;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  top: 5px;
  right: 3px;
}

@media screen and (min-width: 440px) {
  #time {
    font-size: 25px;
  }
}

@media screen and (min-width: 900px) {
  #time {
    font-size: 35px;
  }
}


/* videos settings */
.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}


/* wavy red dividers */
.custom-shape-divider-bottom-1616804317 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1616804317 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1616804317 .shape-fill {
    fill: #FF0000;
}


.custom-shape-divider-top-1616804317 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1616804317 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1616804317 .shape-fill {
    fill: #FF0000;
}
